.calendar {
  width: 100%;
  max-width: 600px;
  padding: 1.8rem 2rem;
  box-shadow: 0 1.6px 3.6px 0 rgba(0, 0, 0, 0.132),
    0 0.3px 0.9px 0 rgba(0, 0, 0, 0.108);
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.6rem;
  font-size: 1rem;
  color: #0e3150;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px 0;
}

.calendar-day {
  padding: 6px 10px;
  text-align: center;
  position: relative;
  background-color: #cde1ee;
  font-size: 1rem;
}

.calendar-day.empty {
  background: transparent;
  border: none;
}

.calendar-day.has-event {
  background-color: #0e3150;
  color: #fff;
  cursor: pointer;
}

.calendar-header button {
  background-color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1.25rem;
  padding: 0;
}

.day-name {
  text-align: center;
  padding: 5px 0;
  background-color: #ffffff;
  color: #8492a8;
  font-size: 1rem;
}

.events-holidays-wrapper {
  display: flex;
  gap: 2.5rem;
  align-items: flex-start;
}

.events-holiday-list {
  height: 320px;
  overflow-y: scroll;
  background-color: #fafafa;
  border: 20px solid #fafafa;
  padding-right: 5px;
}

.events-holiday-list .event-lists {
  max-width: 100%;
}

.events-holiday-list .event-lists .event {
  background-color: #fff;
}

.event-date .year {
  font-size: 11px;
  font-weight: 600;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 3px 0 3px 5px;
  background-color: #294651;
  color: #fff;
}

.events-holiday-list .event-lists .event.highlighted {
  background-color: #cde1ee;
  animation: flash-bg 1.5s ease infinite;
  transition: background-color 0.3s ease;
}

.events-holiday-list .event-lists .event.highlighted .event-date {
  border-color: #aaa;
}

@keyframes flash-bg {
  0% {
    background-color: #fff;
  }
  50% {
    background-color: #cde1ee;
  }
  100% {
    background-color: #fff;
  }
}

@media screen and (max-width: 768px) {
  .events-holidays-wrapper {
    flex-direction: column;
    align-items: center;
  }
}
